body{
  background-color:aquamarine
}

#bio{
  font-weight:bold;
  background-color:rgb(119, 119, 108);
}

#hobby{
  background-color:rgb(188, 207, 188);
}

.high{
  font-weight:bold;
}

.uni{
  font-style:italic;
}

.current{
  text-decoration:underline;
  font-family:"Comic Sans MS";
}

.hide
{
  display:none;
}