@charset "UTF-8";

.hide{
    display:none;
}

main{
    display:grid;
    grid-template-areas: 'header header header'
                         'bio bio bio'
                         'hobbies ed ed'
                         'footer footer footer';
    grid-gap:20px;;
    padding: 20px 5px 1px 0;
    background-color:rgb(49, 48, 48);
    align-content: center;
}

.box{
    margin-left: 20px;
    margin-right: 20px;
    background-color:rgb(187, 187, 187);
    
}

.font{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: center;
}

#all{
    background: #666;
background: linear-gradient(90deg, rgba(2,0,36,1) 50%, rgb(41, 65, 70) 50%);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#header{
    grid-area:header;
    margin-right:20px;
    margin-left:20px;
    background-color: #7a7c7e;

}

#bio{
    grid-area:bio;
    margin-right:20px;
    margin-left:20px;
    
    background-color: #7a7c7e;
    
}

#hobbies{
    grid-area:hobbies;
    margin-right:20px;
    margin-left:20px;
    background-color:#7a7c7e;
    
    
}

#ed{
    grid-area:ed;
    margin-right:20px;
    margin-left:20px;
    background-color:#7a7c7e;
}

#footer{
    grid-area:footer;
    text-align: center;
    background-color:#7a7c7e;
    margin-right:20px;
    margin-left:20px;
}