body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(7, 108, 167, 0.256);
    margin: 0 auto;
    width: 670px;
    border: 3px solid rgba(7, 7, 230, 0.379);
    padding: 0 2em 1em;
}

h1 {
    color: rgb(6, 121, 245);
}

div {
    margin-bottom: 2em;
}

label {
    display:inline-block;
    width: 11em;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-right: 0.5em;
}

span {
    color:red;
}
