body {
    display: flex;
    min-height: 730px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 1336px;
    background: black;

}
main {
    flex: 1;
    display: flex;

}
aside {
    background-color: #505050;
    order: -1;
    width: 45px;
    height: 730px;

}
* {
    box-sizing: border-box;

}
section {
    background: #060606;
    height: 730px;
    width: 100%;

}
article{
    background-color: #373737;
    padding: 10px;
    width: 144px;
    height: 730px;

}
header{
    background-color: #505050;

}
nav a:link, a:visited {
    padding: 7px 0px;
    display: inline-block;
    color: #9999;
    background-color: #333;
    text-align: center;
    text-decoration: none; 
}

footer {
    height: 14px;
    background-color: #0254A0;
}

#bread{
    background-color: #161616;
}

#bread, #bread a{
    color: #0058A9;
    padding: 0 10px;
}

ul { list-style: none outside none; margin:0; padding: 0; }

header ul,p, header a{
    display: inline;
    color: #fff;
    text-decoration: none;
    padding-left: 16px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 0 499px;
}

header li{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0 10px; 
    display: inline; 
}

#tray{
    width: 12px;
    height: 12px;
    background: url('../w6/images/sprites.png');
    background-position: -169px -25px;

}

a#button{
    position: absolute;
    margin: 10px 10px 0 5px;
}

a#b1{
    position: absolute;
    margin: 50px 10px 0 5px;
}

a#b2{
    position: absolute;
    margin: 710px 10px 0 5px;
}

#sprocket{
    width: 12px;
    height: 12px;
    background-image: url('../w6/images/sprites.png');
    background-position: -433px -1px;
}

#sprite8{
    width: 11px;
    height: 12px;
    background-image: url('../w6/images/sprites.png');
    background-position: -170px -121px;
    margin: 0 27.56px 0 10px;
}


#sprite7{
    width: 10px;
    height: 10px;
    background-image: url('../w6/images/sprites.png');
    background-position: -314px -2px;
    margin: 0 10px 0 27.56px;
}

#sprite13{
    width: 9px;
    height: 12px;
    background-image: url('../w6/images/sprites.png');
    background-position: -26px -25px;
}

#sprite17{
    width: 11px;
    height: 13px;
    background-image: url('../w6/images/sprites.png');
    background-position: -74px -120px;
}

#sprite11{
    width: 12px;
    height: 8px;
    background-image: url('../w6/images/sprites.png');
    background-position: -313px -123px;

}

#trash{
    width: 11px;
    height: 13px;
    background-image: url('../w6/images/sprites.png');
    background-position: -458px 0;

}

#title{
    width: 11px;
    height: 11px;
    background-image: url('../w6/images/sprites.png');
    background-position: -217px -2px;

}

#bars{
    width: 11px;
    height: 12px;
    background-image: url('../w6/images/sprites.png');
    background-position: -410px -1px;
}

article li{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12px;

}

.wrapper{
    width: 400px;
}

  

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

  
label{
    display: block;
    cursor: pointer;
    padding: 10px 0px;
    border-bottom: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

label:hover{
    background: grey;
}

  
label.last{
    border-bottom: 1px solid #fff;
}

  
ul ul li{
    padding: 10px;
    background: transparent;
}

  

  
input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] ~ ul{
    height: 0;
    transform: scaleY(0);
}

  
input[type="checkbox"]:checked ~ ul{
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1); 
}

  
input[type="checkbox"]:checked + label{
    background: transparent;
    border-bottom: 1px solid white;
}