@charset "UTF-8";

*{
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
    height:100%;
    margin:0;
}
main{
    height: 100%;
    display:flex;
    flex-direction:column;
    background: #060606;
}
header{
    padding:10px;
    background: #505050;
    border-radius: 0px;
}
section{
    background: #060606;
    display: flex;
    height:100%;
}
aside{
    background-color: #505050;
    order: -1;
    width: 45px;
    height: 730px;
}
footer{
    padding: 10px;
    background-color:brown;
}
#editor{
    width: 100%;
    display:flex;
    flex-direction: column;
}
nav a{
    display:flex;
    width:100px;
    height:25px;
    background-color:cyan;
    float:left;
}
textarea{
    height: 100%;
    width: 100%;
    border-width: 0;
    resize: none;
    outline: none;
    background-color:black;
    overflow-y: scroll;
    color: white;
}
p{
    background-color:#666;
    margin:0;
}

#inner-tray{
    width:200px;
    background-color:rgb(73, 72, 72);
    
}
.tray{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 200px;
    background-color:rgb(62, 61, 63);
    transition: all .5;
}
.closed{
    width: 0px;
    transition: all .5s;
}