* { 
	color:"";
    box-sizing:content-box;
    margin:auto;
	padding: 0px;
	float: unset;
	/* Give this "global" element a margin of zero  */
	/* Give this "global" element a padding of zero */
}
h1{
	text-decoration-color: bisque;
}

html body {
	

	width: 50%;
	background-image: url(../w4-movie/imagesValerie/Valerie-bacground.jpeg);

}
html {
    background-color:transparent white;
    padding: 10px;
	font-family: Helvetica;
	font-size: 14px;
	text-decoration-color: antiquewhite;

	
}

body {
    background-color:  beige;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
	text-decoration-color: antiquewhite;

}

#container {
    width: 980px;
    margin: inherit;
	
	text-decoration-color: antiquewhite;

	padding:10px;
	border:5px solid rgb(247, 241, 242);
}
footer {
    
    width: 100%;
    padding: 20px 0 20px 0;
    border-top: 2px solid #5f858a;
    font-size: 10px;

}
#content {
	width: 980px;
    margin: inherit;


	padding:10px;
	
	text-decoration-color: antiquewhite;
}

.copy {
    float: left;
    text-decoration-color:#b5b9b9;
}


/* Header Stylings ----------*/
#header {
    height: 100px;
    float: left,center;
    width: 100%;
	text-decoration-color: rgb(250, 250, 246);
	border-bottom:2px rgb(36, 102, 53);
	
}

#name{
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-decoration-color:whitesmoke;
    font-size: 40px;
    background-image: url();
	
}
#giphy-embed{
	float: left;
    width: 747px;
    height:474px;

}
nav {
	text-decoration-color: aliceblue;
	font-size: 32px;
    box-sizing:content-box;
    margin:100px;
	padding: 10px;
	float: auto;
	
}

.btn {

	display:block;
	float: right;
	padding: 5px;
	text-decoration-color: #5b8370;
	text-underline-position: inherit;
	margin-right: 10px;
	
}

.btn:hover {
	background-color: #07dcf8;
	text-decoration: rgb(238, 200, 94);
	 
}



/*Content stylings -------------*/
section {
	float: right;
	width: auto;
	padding: auto;
	text-align:auto;
	text-decoration-color: azure;

}

.title {
	margin: auto;
	float: center;
	width: 70%;
	text-decoration-color: aliceblue;

}


section img {
	width: 47px;
	float: bottom right;
	border: 5px rgb(97, 29, 2)salmon;
	margin:auto;
}



aside {
	float: right;
	width: auto;
	margin: auto;
	padding: 10px;
	min-height:47px;
	background-color: rgb(226, 196, 196);
	text-decoration-color: antiquewhite;
}

 aside img {
	width:100px;
	float:center;
	margin-bottom:10px;
 }

h4 {
	float: bottom left;
	width: 100%;
	padding: 6 0 6 0;
	background-color: rgb(105, 139, 107);
	text-align: center;
	text-decoration-color: rgb(174, 177, 175);
	margin:0 0 5px 0;
}
