@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


body{
    background-color: #282828 ;
    display: flex;
    justify-content: center;
}
#container{
    width: 1820px;
}




header{
    display: flex;
    justify-content: space-between;
    padding: 0px 41px 15px 30px;
    align-content: baseline;
    background-color: #070707;
    width: 1820px;
    margin-top: 0px;
    margin-left: 0px;
}


h1{
    margin: 35px 1057px 15px 30px;
    padding:0;
    color: #BB0908;
    font-size: 48px;
    font-family: 'Teko', sans-serif;
    font-weight: normal;
    text-indent: 30px;
}
header div{
    display: inline-block;
}

header div a{
    margin-top: 21px;
    margin-right: 19px;
   font-size: 60px;
   color: #BB0908;
}

header div a:link, header div a:visited{
    margin-left: 10px;
}


.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}
  
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}



.footer {

    background: black;
}

.main {
    text-align: left;
    background: deepskyblue;
}

.aside-1 {
    background: gold;
}

.aside-2 {
    background: hotpink;
}
.aside-3 {
    background: rgb(10, 87, 0);
}

@media all and (min-width: 400px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 500px) {
    .main    { flex: 4 20px; }
    .main    { order: 1; }
    .aside-1 { order: 2; }  
    .aside-2 { order: 3; }
    .aside-3 { order: 4; }
    .footer  { order: 5; }
}


