* {
    box-sizing:border-box;
    margin:10px;
	padding: 9px;
	float: unset;
	/* Give this "global" element a margin of zero  */
	/* Give this "global" element a padding of zero */
}

html body {

	width: 100%;


}
html {
    background-color: lightgray;
    padding: 20px;

	
}

body {
    background-color: rgb(193, 211, 231);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration-color: #3a829e;

}

#container {
    width: 980px;
    margin: inherit;


	padding:10px;
	border:5px solid rgb(233, 189, 196);
}
footer {
    
    width: 100%;
    padding: 20px 0 20px 0;
    border-top: 2px solid #5f858a;
    font-size: 10px;

}

.copy {
    float: left;
    text-decoration-color:#b5b9b9;
}


/* Header Stylings ----------*/
header {
    height: 100px;
    float: left;
    width: 100%;

	border-bottom:2px solid #8eecf8;
	
}

#name{
    float: left;
    width: 430px;
    height: 100px;
    line-height: 100px;
    text-decoration-color:whitesmoke;
    font-size: 50px;
    background-image: url();
	
}
nav {
	float:right;
	margin-top:20px ;
	
}

.btn {

	display:block;
	float: left;
	padding: 20px;
	text-decoration-color: #5b8370;
	text-underline-position: inherit;
	margin-right: 2px;
	
}

.btn:hover {
	background-color: #07dcf8;
	text-decoration: rgb(238, 200, 94);
	 
}



/*Content stylings -------------*/
section {
	float: left;
	width: 600px;
	padding: 10px;
	text-align:center;

}

.title {
	margin: 70 70 40px 0;
	float: left;
	width: 100%;

}


section img {
	width: 347px;
	float: right;
	border: 5px solid lightsalmon;
	margin:0 0 20px 20px;
}



aside {
	float: right;
	width: 880px;
	margin: 10px;
	padding: 10px;
	min-height:300px;
	background-color: lightgoldenrodyellow;
}

 aside img {
	width:160px;
	float:center;
	margin-bottom:10px;
 }

h4 {
	float: left;
	width: 100%;
	padding: 6 0 6 0;
	background-color: lightgray;
	text-align: center;
	text-decoration-color: white;
	margin:0 0 5px 0;
}